<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Base</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    {% block head %}

    {% endblock %}
  </head>
  <body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Logo</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Mars Weather</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'picture' %}">Picture of the Day</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'dbquery' %}">DB Query</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="{% url 'top3' %}">Top 3</a>
    </li>
  </ul>
</nav>
    {% block body %}{% endblock %}
  </body>
</html>
